@media (max-width: 700px) {
    .luHeader{
        display: none;
    }
    .burger{
        display: block;
        position: relative;
        left: 50px;
        width: 10%;
    }
    .menu{
        display: block;
        position:fixed;
        background-color: hsla(229, 31%, 21%, 0.938);
        width: 100vw;
        height: 100vh;
        top: 0;
        flex-direction: column;
        align-items: center;
        font-size: larger;
        color: white;
    }
    .equisBook{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10%;
    }
    .menuText{
        margin: 10%;
    }
    .luMenu li{
        padding: 20px 10px;
        width: 70vw;
        border: 1px solid grey;
    }
    .btnMenu{
        width: 75vw;
        background-color: rgba(255, 255, 255, 0);
        font-size: larger;
        font-weight: 400;
        padding: 10px 20px;
        border: 2px solid white;
    }
    .menuRedes{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10vw;
        height: 2rem;
        margin-top: 20%;
    }

    lu,.simpleBook,.features,.formCont,.browserCont,footer,.p1Foot,.tabTitle,.tab,.tabTextCont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .browserCont{
        margin:10%
    }
    .simpleBook{
        margin: 10% 0;
        flex-direction: column-reverse;
    }
    .btnTab{
        width: 70vw;
    }
    .p1Foot,lu{
        gap: 30px;
    }   
    footer{
        gap:35px;
    }
    .accordion{
        width: 80vw;
    }
    .tab{
        margin: 0;
    }
    .tabImgCont{
        justify-self: center;
        width: 80vw;
        margin: 20%;
    }
    .tabImg{
        margin: 0;
    }
    .tabTextCont{
        text-align:center;
        display: flex;
        margin: 0 10%;
        
    }
    .browserCont{
        width: fit-content;
        height: fit-content;
        margin: 15vw 12% ;
    }
    .browser{
        justify-content: center;
        max-width: min-content;
        margin:8% 0;
        padding: 20% 0;
    }
    .contactCont{
        width: max-content;
    }
    .email, .down{
        width: 70vw;
    }
    .features{
        display: flex;
        width: 80vw;
        justify-self: center;
        margin: 25% 10%;
    }
    .simpleBook{
        width: 100%;
        margin: 0;
    }
    .simpleCont{
        width: 89%;
    }
}